<p class="text-center">{{variable}} works! >>> This is simple string interpolation</p>
<p class="text-danger text-center">{{myFunction()}} >>> This is the function calling.</p>

<!-- Property Binding -->
<button class="btn btn-secondary" [disabled]="!allowServer" (click)="onAddServer()">Add Server</button>
<!-- <p>{{allowServer}}</p> -->

<!-- *ngIf Directive (Structural directive) -->
<p *ngIf="showServerName; else noServer" class="text-warning">{{serverStatus}}</p>
<!-- Else condition -->
<ng-template #noServer>
    <p>No Server Created.</p>
</ng-template>

<!-- One way data  -->
<input type="text" class="form-control" placeholder="One way binding" (input)="onUpdateServer($event)" />
<br />
<!-- Two way data  -->
<input type="text" class="form-control" placeholder="Two way binding" [(ngModel)]="serverName" />
<p>{{serverName}}</p>

<!-- ngStyle -->
<input type="color" [(ngModel)]="color" />
<p [ngStyle]="{backgroundColor: color}">{{color}}</p>